/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.animate__delay-05s {
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
    -webkit-animation-delay: var(--animate-delay);
    animation-delay: var(--animate-delay);
}